
<h1>Medidas asociados</h1>

<%if @valores.blank?%>

<p>No hay medidas asociadas a ese sensor.</p>

<%else%>

<strong>Estas son las medidas asociadas al sensor seleccionado:</strong>

<ul id="valores">

<%@valores.each do |v|%>

<li><%v.valor%></li>

<%end%>

</ul>

<%end%>

<%= link_to 'Back', medidas_path %> 
