Bienvenido a la estacion meteorologica UAH, <%= @user.nombre%></h2>

===================================================================

Te has registra satisfactoriamente en la aplicacion, 
Tu identificador es: <%= @user.identificador%></h2>

Gracias!
