<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h2>Envio de e-mails con archivos adjuntos.</h2>
    <h3>Bienvenido a la estacion meteorologica de UAH, <%=@user.nombre%></h3>
    <p>
      Tu correo ha sido enviado satisfactoriamente y tu identificador es:
      <%=@user.identificador%>.<br/>
    </p>
    <p>
      Nos puedes visitar en: www.uah.es
    </p>
  </body>
</html>
