/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    font-size: 14px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
   }
h1 {
  margin-top: -5px;
  font-size: 16px;
  width: 100%;
  border-radius: 2px;
  background-color: #334c00;
  color: #ccff66;
  padding : 5px;
  }
a {
  text-decoration: none;
}
.servtel_main_area a {
  font-size: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  border-color: #334c00;
  text-decoration : none;
  padding : 1px;
  background-color: #ccff66;
  color: #334c00;
}
.servtel_menu_item a:visited {
  color: #334c00;
  }
.servtel_main_bg {
  -moz-user-select: none;
  background: url("/img/excellent_weather.jpg") repeat fixed 0 0 blue;
  background-size: cover;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  }
.servtel_main_box {
  position: absolute;
  width: 800px;
  padding: 10px 25px 15px 20px;
  margin: 50px 50px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #D7D7D7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
  background-color: #FFF;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  min-height: 400px;
  }
.servtel_main_title {
  padding : 10px;
  text-align: center;
  color: red;
  width: 100%;
  font-size: 28px;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  }
.servtel_main_menu {
  font-size: 10px;
  padding : 10px;
  width: 100%;
  }
.servtel_menu_item {
  display: inline;
  padding : 5px 10px 5px 10px;
  border-radius: 15px 0 0 0;
  background-color: #334c00;
  }
.servtel_menu_item a {
  color: #ccff66;
  }
.servtel_menu_item a:visited {
  color: #ccff66;
  }
